<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
    integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="user_profile_detail">
    <div class="banner_and_avatar">
        <div id="user_avatar">
            <img src="../../{{user.avatar}}">
        </div>
        <p id="user-name-real">{{user.username}}</p>
        <div class="option-with-user">
            <button class="add-friend-button">
                <input type="hidden" value="{{user._id}}" id="room-number">
                <i class="fa-solid fa-user-plus"></i>
                Thêm bạn bè
            </button>
            <button class="send-mesage" id="chat-with-you">
                <i class="fa-brands fa-facebook-messenger"></i>
                Nhắn tin
            </button>
        </div>
    </div>
    <div class="content_user_profile">
        <div class="basic_user_information">
            <div class="header_basic_user_info">
                <ul>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Bạn bè</a></li>
                </ul>
            </div>
            <p>Vai trò <span style="font-weight:bolder">{{user.userposition}}</span></p>
            <p>Sống và làm việc tại <span style="font-weight:bolder">{{user.address}}</span></p>
            <p>Kinh nghiệm làm việc <span style="font-weight:bolder">{{user.experience}}</span></p>
            <p>Quê quán <span style="font-weight:bolder">{{user.birthplace}}</span></p>
            <p>Sinh ngày <span style="font-weight:bolder">{{user.birthday}}</span></p>
            <p>Giới tính <span style="font-weight:bolder">{{user.gender}}</span></p>
            <p>Tình trạng mối quan hệ <span style="font-weight:bolder">{{user.relationshipStatus}}</span></p>
            <div class="action-with-account">
                <button type="button" id="update_profile_button">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Chỉnh sửa thông tin chi tiết
                </button><br>
                <button type="button" id="update_account_button" style="margin-top:3px">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Đổi mật khẩu
                </button>
            </div>
        </div>
        <div class="user_post_information">
            {{#if posts}}
            {{#each posts}}
            <div class="post">
                <div class="post_header">
                    <img class="user_avatar" src="../../{{this.avatar}}">
                    <p>
                        <span>{{this.username}}</span><br>
                        <span>{{this.date}}</span>
                    </p>
                </div>
                <div class="post_content">
                    <div class="content_decripstion information">
                        <div class="content_container">Địa điểm:<span>{{this.location}}</span></div>
                        <div class="content_container">Công việc : <span>{{this.job}}</span></div>
                        <div class="content_container">Ngày bắt đầu :<span>{{this.startday}}</span></div>
                        <div class="content_container">Ngày kết thúc :<span>{{this.enday}}</span></div>
                        <div class="content_container">Kinh nghiệm làm việc : <span>{{this.experience}}</span></div>
                        <div class="content_container">Mức lương thấp nhất :<span>{{this.lowest_salary}}</span></div>
                        <div class="content_container">Mức lương cao nhất : <span>{{this.highest_salary}}</span></div>
                        <div class="content_container">Mô tả công việc :<span>{{this.decripstion}}</span></div>
                    </div>
                    <div class="images">
                        {{#each images}}
                        <img src="../../{{this}}" alt="decripstion image">
                        {{/each}}
                    </div>
                </div>
                <div class="post_footer">
                    <div class="like">
                        <i class="fa-solid fa-heart"></i>
                        <span>Thích</span>
                    </div>
                    <div class="comment">
                        <i class="fa-solid fa-comment"></i>
                        <span>Bình luận</span>
                    </div>
                    <div class="share">
                        <i class="fa-solid fa-share"></i>
                        <span>Chia sẻ</span>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <p>Bạn chưa có bài đăng nào ...</p>
            <p>Đăng bài ngay để mọi người biết đến bạn nhiều hơn 
                <a href="../user_post">Đăng bài ngay !</a>
            </p>
            {{/if}}
        </div>
    </div>
</div>
<div class="update_profile_detail" id="update_profile_detail">
    <form action="/user/update_user_profile" method="POST" id="form_update_profile" enctype="multipart/form-data">
        <div class="header_form_update">
            <img id="update_profile_user_avatar" src="../../{{avatarpath}}" alt="avatar">
            <input id="update_profile_user_avatar_input" type="file" name="avatar" accept=".png, .jpg, .jpeg"><br>
            <input type="text" value="{{user.username}}" id="update_profile_username" name="username" readonly>
            <i class="fa-solid fa-pencil" id="change_username" style="border-bottom:solid 1px black"></i>
            </input>
        </div>
        <div class="content_form_update" style="padding-left: 20px;">
            <ul>
                <li>Sống và làm việc tại:
                    <input type="text" placeholder="{{address}}" name="address">
                </li>
                <li><input type="hidden" value="{{username_sign}}" name="username_sign">
                <li>Kinh nghiệm làm việc:<br>
                    <textarea name="experience" id="" cols="30" rows="3" placeholder="{{experience}}"></textarea>
                </li>
                <li>Quê quán:
                    <input type="text" name="birthplace" placeholder="{{birthplace}}">
                </li>
                <li>Ngày sinh:
                    <input type="date" name="birthday" placeholder="{{birthday}}">
                </li>
                <li>Giới tính:
                    <label for="male">Nam</label>
                    <input type="radio" id="male" name="gender" value="male" checked>
                    <label for="female">Nữ</label>
                    <input type="radio" id="female" name="gender" value="female">
                </li>
                <li>Tình trạng mối quan hệ:
                    <select name="relationshipStatus">
                        <option value="single">Độc thân</option>
                        <option value="married">Đã kết hôn</option>
                        <option value="widow">Góa</option>
                        <option value="complicated">Có mối quan hệ phức tạp</option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="footer_form_update">
            <button type="submit">Lưu</button>
            <button type="button" id="exit_update_profile">Thoát</button>
        </div>
    </form>
</div>
<div class="update_account" id="update-account-form">

    <!-- form card change password -->
    <div class="card card-outline-secondary">
        <div class="card-header">
            <h3 class="mb-0">Đổi mật khẩu</h3>
        </div>
        <div class="card-body">
            <form autocomplete="off" class="form" id="form-change-password" role="form" action="/user/account"
                method="post">
                <div class="form-group">
                    <label for="inputPasswordOld">Mật khẩu hiện tại</label>
                    <input class="form-control" id="inputPasswordOld" required="" type="password" name="oldPassword">
                </div>
                <div class="form-group">
                    <label for="inputPasswordNew">Mật khẩu mới </label>
                    <input class="form-control" id="inputPasswordNew" required="" type="password" name="newPassword">
                    <small class="form-text text-muted" id="passwordHelpBlock">Mật khẩu của bạn phải dài 8-20 ký tự,
                        chứa các chữ cái và số và không được chứa dấu cách, ký tự đặc biệt hoặc biểu tượng cảm
                        xúc.</small>
                </div>
                <div class="form-group">
                    <label for="inputPasswordNewVerify">Xác nhận mật khẩu</label>
                    <input class="form-control" id="inputPasswordNewVerify" required="" type="password"
                        name="verifyPassword">
                    <span class="form-text small text-muted">Để xác nhận, hãy nhập lại mật khẩu mới.</span>
                </div>
                <div class="form-group footer_form">
                    <button class="btn btn-success btn-lg float-right" type="submit"
                        id="submit-form-change-password">Lưu</button>
                    <button class="btn btn-success btn-lg float-left" id="cacel-change-password" type="button"
                        style="background-color:rgb(203, 11, 49); border-color:rgb(203, 11, 49)">Hủy</button>
                </div>
            </form>
        </div>
    </div><!-- /form card change password -->
</div>
<div class="messenger-icon">
    <img src="../../img/snapedit_1704288523594.png">
</div>
<div class="chat-box" id="chat-box">
    <div class="header-chat-box">
        <div class="content-header-chat">
            <img class="avatar-user" src="../../{{avatarpath}}">
            <span class="username">{{username}}</span>
        </div>
        <div class="exit-chat">
            <i class="fa-solid fa-minus"></i>
            <i class="fa-solid fa-xmark" id="exit-chat-button"></i>
        </div>
    </div>
    <div class="content-chat-box scrollbar" id="scrollbar">
        <input type="hidden" value="" id="SocketId">
    </div>
    <div class="footer-chat-box">
        <i class="fa-solid fa-paperclip"></i>
        <input class="content-message" placeholder="Type to write message ..." id="content-message">
        <i class="fa-regular fa-face-smile"></i>
        <button class="send-message" id="send-message-button">Send</button>
    </div>
</div>
<div id="post_action_if_do_not_have_account" class="message-but-no-have-account">
    <div class="post_action_box">
        <div class="header_post_action">
            <img src="../../img/logo.png" alt="logo brand" title="logo brand">
            <span>Việc làm <span>24h</span></span>
        </div>
        <div class="content_post_action">
            <p>Bạn hiện chưa có tài khoản trên hệ thống !<br>
                Tạo tài khoản ngay nhắn tin với tài khoản này ?</p>
        </div>
        <div class="footer_post_action">
            <button onclick="window.location='../../action/register'">Tạo tài khoản</button>
            <button id="button_destroy_if_dont_want_create_account" type="button">Hủy</button>
        </div>
    </div>
</div>
<script>
    //Chỉnh lại đường dẫn 
    const user_login1 = document.getElementById('login');
    const user_register_new1 = document.getElementById('register');
    let user_profile1= document.getElementById('user-profile').href;
    const user_logout1 = document.getElementById('user-logout');
    let profileLink= document.getElementById('user-profile');
    user_login1.href='../../action/login';
    user_register_new1.href='../../action/register';
    user_logout1.href='../../action/logout';
    profileLink.href=user_profile1.substring(0,21)+user_profile1.substring(34);
</script>
<script>
    const guest = document.getElementById('username_top_right').textContent;
    const you = document.getElementById('user-name-real').textContent;
    const optionWithUser = document.querySelector('.option-with-user');
    const loginForm = document.getElementById('')
    const actionWithAccount = document.querySelector('.action-with-account');
    const requestChatButton1 = document.getElementById('chat-with-you');
    const cacelButton = document.getElementById('button_destroy_if_dont_want_create_account');
    requestChatButton1.addEventListener('click', () => {
        if (guest === 'Profile') {
            post_action_if_do_not_have_account.style.display = 'block';
        }
    })
    cacelButton.addEventListener('click', () => {
        post_action_if_do_not_have_account.style.display = 'none';
    })
    if (guest !==you) {
        actionWithAccount.style.display = 'none';
        optionWithUser.style.display = 'block';
    }else{
        actionWithAccount.style.display = 'block';
        optionWithUser.style.display = 'none';
    }
</script>
<script src="../../js/profile.js"></script>
<script src="../../socket.io/socket.io.js"></script>
<script src="../../js/chat.js"></script>